In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans

In [4]:
df = pd.read_csv('data_banknote_authentication.txt', index_col=[0]) 
# ou avec les séparateurs
# df= ruspini pd.read_csv('ruspini.csv', sep="," ,index_col=[0])

In [5]:
df
#df.iloc[[0]]

            8.6661  -2.8073  -0.44699  0
3.6216
 4.54590   8.16740  -2.4586  -1.46210  0
 3.86600  -2.63830   1.9242   0.10645  0
 3.45660   9.52280  -4.0112  -3.59440  0
 0.32924  -4.45520   4.5718  -0.98880  0
 4.36840   9.67180  -3.9606  -3.16250  0
...            ...      ...       ... ..
 0.40614   1.34920  -1.4501  -0.55949  1
-1.38870  -4.87730   6.4774   0.34179  1
-3.75030 -13.45860  17.5932  -2.77710  1
-3.56370  -8.38270  12.3930  -1.28230  1
-2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 4 columns]

In [6]:
df.fillna(df.median())

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

            8.6661  -2.8073  -0.44699  0
3.6216
 4.54590   8.16740  -2.4586  -1.46210  0
 3.86600  -2.63830   1.9242   0.10645  0
 3.45660   9.52280  -4.0112  -3.59440  0
 0.32924  -4.45520   4.5718  -0.98880  0
 4.36840   9.67180  -3.9606  -3.16250  0
...            ...      ...       ... ..
 0.40614   1.34920  -1.4501  -0.55949  1
-1.38870  -4.87730   6.4774   0.34179  1
-3.75030 -13.45860  17.5932  -2.77710  1
-3.56370  -8.38270  12.3930  -1.28230  1
-2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 4 columns]

In [7]:
df.fillna(df.mean())

            8.6661  -2.8073  -0.44699  0
3.6216
 4.54590   8.16740  -2.4586  -1.46210  0
 3.86600  -2.63830   1.9242   0.10645  0
 3.45660   9.52280  -4.0112  -3.59440  0
 0.32924  -4.45520   4.5718  -0.98880  0
 4.36840   9.67180  -3.9606  -3.16250  0
...            ...      ...       ... ..
 0.40614   1.34920  -1.4501  -0.55949  1
-1.38870  -4.87730   6.4774   0.34179  1
-3.75030 -13.45860  17.5932  -2.77710  1
-3.56370  -8.38270  12.3930  -1.28230  1
-2.54190  -0.65804   2.6842   1.19520  1

[1371 rows x 4 columns]